{% extends "base.html" %}

{% block home_admin_active %}
<li class="active">
{% endblock %}

{% block home_active %}
<li class="active">
{% endblock %}

{% block notification_panel %}
<div class="dropdown for-notification">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        {% if notifs_nbr != 0  %}
            <span class="count bg-danger">{{notifs_nbr}}</span>
        {% endif %}
        
    </button>
    <div class="dropdown-menu" aria-labelledby="notification">
        {% if notifs_nbr == 0  %}
            <p class="red">Aucun nouvelle notifications</p>
        {% else %}
            <p class="red">Vous avez <b>{{notifs_nbr}}</b> nouvelle notifications</p>
        {% endif %}
        
        
        {% if notifs %}       
            {% for notif in notifs %}
                
                {% if notif.seen == False %}
                    <a class="dropdown-item media" href="/notif_seen/{{notif.id}}">
                        <i style="color:black;" class="fa fa-info"></i>
                        <p style="color:black;"> <b>{{notif.message}} </b></p> 
                    </a>
                {% else %}
                    <a class="dropdown-item media" href="#">
                        <i class="fa fa-info"></i>
                        <p>{{notif.message}} </p>
                    </a>
                {% endif %}
                    
                
            {% endfor %}
        
        {% else %}
            <a class="dropdown-item media" href="#">
                <i class="fa fa-info"></i>
                <p>Aucun notification </p>
            </a>
        {% endif %}
            
        
        
       
    </div>
</div>
{% endblock %}

{% block content %} 


{% if user.user_type == 1 or user.user_type == 2  %}
    <!-- Admin Home page  () -->
    <div class="content">
        <!--  -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-users"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count"> {{users_nbr}} </span></div>
                                        <div class="stat-heading">Users</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-global"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{unites_nbr}}</span></div>
                                        <div class="stat-heading">Unités</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="pe-7s-menu"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{comptes_nbr}}</span></div>
                                        <div class="stat-heading">Comptes SCF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{budgets_nbr}}</span></div>
                                        <div class="stat-heading">Budgets</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Widgets -->

            <!--  Budgets En cours  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="box-title"> <strong><span><i class="menu-icon fa fa-calendar"></i> </span></strong> Budgets En cours
                                <a href="{% url 'add_annee_bdg' %}" class="btn btn-sm btn-outline-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter</a>
                            </h1> 
                        </div>
                        <div class="row">
                        </div>
                        <div class="card-body">
                            {% if budgets_encours %}
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <table id="bootstrap-data-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Année</th>
                                            <th>Type budget</th>
                                            <th>Lancement</th>
                                            <th>Clôture</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        
                                            {% for b in budgets_encours %}
                                                <tr>
                                                    <td>{{b.id}}</td>
                                                    <td>{{b.annee}}</td> 
                                                    <td>{{b.type_bdg}}</td>
                                                    <td>
                                                        
                                                        {% if b.lancement == True %}
                                                            <span style="color: green;"><i class="menu-icon fa fa-check"></i></span>
                                                        {% else %}
                                                            <span style="color: red;"><i class="menu-icon fa fa-times"></i></span>
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td>
                                                        {% if b.cloture == True %}
                                                            <span style="color: green;"><i class="menu-icon fa fa-check"></i></span>
                                                        {% else %}
                                                            <span style="color: red;"><i class="menu-icon fa fa-times"></i></span>
                                                        {% endif %}
                                                    </td>
                                                    <td> 
                                                        <a href="update_annee_bdg/{{b.id}}" class="btn btn-sm btn-outline-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Mis à jour</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                            
                                    </tbody>
                                </table>
                            {% else %}
                                  <h4> Aucun Budget en cours ... </h4>   
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title"><strong><span><i class="menu-icon fa fa-bars"></i> </span></strong> Rubriques Budgétaires </h4>
                        </div>
                        <div class="row">
                        </div> <!-- /.row -->
                        <div class="card-body">
                            <input class="form-control" id="myInput1" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Unité</th>
										<th>Nbr Rubriques</th>
                                        <th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable1">
									{% for u in unites %}
									<tr>
										<td>{{u.id}}</td>
										<td>{{u.code_alpha}}</td>
										<td>
                                            
                                            {% for k,v in unite_rubs.items  %}
                                                {% if u.id == k %}
                                                    {{v}}
                                                {% endif %}
                                            {% endfor %}
                                                
                                        </td>
                                        <td> 
                                            <a href="show_comptes/{{u.id}}" class="btn btn-sm btn-outline-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Mis à jour</a>
                                        </td>
									</tr>

									{% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
                </div><!-- /# column -->
            </div>

        </div>
        <!-- .animated -->
    </div>
{% elif user.user_type == 3 or user.user_type == 4 or user.user_type == 5 or user.user_type == 6 %}
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!--  Last budget notifié  ---------------------------->
            <div class="accordion" id="accordionExampleNotif">
                <!-- heading -->
                <div class="row" id="huaNotif" role="tab" data-toggle="collapse" data-target="#cuaNotif" aria-expanded="true" aria-controls="cuaNotif" >
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                
                                {% if last_budget %}
                                    <h1 class="box-title"><strong><span><i class="menu-icon fa fa-folder-open"></i> </span></strong>  Budget notifié <b>{{last_budget.annee}}</b> <strong><span class="float-right"><i class="menu-icon fa fa-angle-right" style="margin-right: 10px;"></i></span></strong></h1>
                                {% else %}
                                    <h1 class="box-title"><strong><span><i class="menu-icon fa fa-folder-open"></i> </span></strong>  Aucun Budget notifié n'est disponible !<strong><span class="float-right"><i class="menu-icon fa fa-angle-right" style="margin-right: 10px;"></i></span></strong></h1>
                                {% endif %}

                            </div>
                        
                        </div>
                    </div>
                </div>
                <!-- Collapsable content -->
                <div class="collapse show" id="cuaNotif" aria-labelledby="huaNotif" data-parent="#accordionExampleNotif">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-2">
                                            <i class="pe-7s-users"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-heading">Offre</div>
                                                <div class="stat-text">PAX: <b><span id="numbersID6"> {{total_off_pax}} </span></b><span class="stat-heading"> (Passagers)</span></div> 
                                                <div class="stat-text">BCB:  <b><span class="count"> {{total_off_bcb}} </span></b><span class="stat-heading"> (Tonnes)</span></div>
                                                <div class="stat-text">FRET: <b><span class="count"> {{total_off_fret}} </span></b> <span class="stat-heading"> (Tonnes)</span></div>
                                                <div class="stat-text">POSTE: <b><span class="count"> {{total_off_poste}} </span></b> <span class="stat-heading"> (Tonnes)</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-3">
                                            <i class="pe-7s-plane"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-heading">Trafic</div>
                                                <div class="stat-text">PAX: <b><span id="numbersID7"> {{total_trf_pax}} </span></b><span class="stat-heading"> (Passagers)</span></div> 
                                                <div class="stat-text">BCB:  <b><span class="count"> {{total_trf_bcb}} </span></b><span class="stat-heading"> (Tonnes)</span></div>
                                                <div class="stat-text">FRET: <b><span class="count"> {{total_trf_fret}} </span></b> <span class="stat-heading"> (Tonnes)</span></div>
                                                <div class="stat-text">POSTE: <b><span class="count"> {{total_trf_poste}} </span></b> <span class="stat-heading"> (Tonnes)</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-9">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span id="numbersID1">{{total_emmission}} </span></div>
                                                <div class="stat-heading">Chiffre d'affaire à l'émission (<strong> DZD</strong>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span id="numbersID2">{{total_recettes_transport}}</span></div>
                                                <div class="stat-heading">Recettes au Transport (<strong> DZD</strong>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-1">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span id="numbersID3">{{total_autre_recettes}}</span> </div>
                                                <div class="stat-heading">Autre Recettes (<strong> DZD</strong>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-4">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text" ><span id="numbersID4">{{total_dep_fonc}}</span></div>
                                                <div class="stat-heading">Dépenses de fonctionnement (<strong> DZD</strong>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat-widget-five">
                                        <div class="stat-icon dib flat-color-4">
                                            <i class="pe-7s-cash"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                                <div class="stat-text"><span id="numbersID5">{{total_dep_exp}}</span></div>
                                                <div class="stat-heading">Dépenses d'exploitation (<strong> DZD</strong>)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <!-- ----------------------------------------------------  -->
            
            <!--  Budgets en Cours  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="box-title"><strong><span><i class="menu-icon fa fa-edit"></i> </span></strong> Budgets En cours </h1>
                        </div>
                        
                        <div class="accordion" id="accordionExample">
                            {% if budgets_encours %}
                                {% for budget in budgets_encours %}	
                                    <div class="card" style="margin-bottom: 2px;">
                                        <div class="card-header" id="hua{{budget.id}}" role="tab" data-toggle="collapse" data-target="#cua{{budget.id}}" aria-expanded="true" aria-controls="cua{{budget.id}}">
                                            <strong class="card-title">
                                                
                                                {% if budget.type_bdg == "PROPOS"  %}
                                                    Budget de proposition
                                                {% elif budget.type_bdg == "REUN" %}
                                                    Budget de réunion
                                                {% elif budget.type_bdg == "NOTIF" %}
                                                    Budget notifié
                                                {% elif budget.type_bdg == "CTRL" %}
                                                    Contrôle budgétaire
                                                {% elif budget.type_bdg == "RELS" %}
                                                    Réalisation comptable
                                                {% endif %}
                                                    
                                                <b> {{budget.annee}}</b>
                                                <span class="float-right"><i class="menu-icon fa fa-angle-right" style="margin-right: 10px;"></i></span>
                                            </strong>
                                        </div>
                                        <div class="card-body collapse" id="cua{{budget.id}}" aria-labelledby="hua{{budget.id}}" data-parent="#accordionExample">
                                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                            <table id="bootstrap-data-table" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Unité</th>
                                                        <th>Saisie</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="myTable">
                                                    
                                                    {% for key, b in b_status.items  %}
                                                        {% if key == budget.id %}


                                                            {% if user.user_type == 4 or user.user_type == 3  %}

                                                                {% for u in unites %}
                                                                    <tr>
                                                                        <td>{{u.lib}} ({{u.code_alpha}})</td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, ss in us.items  %}
                                                                                        {% if key3 == "pr" %}
                                                                                            {{ss}} %
                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, unite_state in us.items  %}
                                                                                        {% if key3 == "state" %}

                                                                                            {% for key4, s in unite_state.items  %}
                                                                                                {% if key4 == "sdir" %}

                                                                                                    {% if s == "Terminé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
                                                                                                    {% elif s == "Validé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
                                                                                                    {% elif s == "Instance" %}
                                                                                                        <span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Instance</span>
                                                                                                    {% elif s == "Non saisie" %}
                                                                                                        <span><i class="menu-icon fa fa-times"></i> Non saisie</span>
                                                                                                    {% elif s == "En cours" %}
                                                                                                        <span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
                                                                                                    {% endif %}

                                                                                                {% endif %}
                                                                                            {% endfor %}

                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            
                                                            {% elif user.user_type == 5 %}

                                                                {% for u in unites_chef %}
                                                                    <tr>
                                                                        <td>{{u.lib}} ({{u.code_alpha}})</td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, ss in us.items  %}
                                                                                        {% if key3 == "pr" %}
                                                                                            {{ss}} %
                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, unite_state in us.items  %}
                                                                                        {% if key3 == "state" %}

                                                                                            {% for key4, s in unite_state.items  %}
                                                                                                {% if key4 == "chef" %}

                                                                                                    {% if s == "Terminé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
                                                                                                    {% elif s == "Validé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
                                                                                                    {% elif s == "Instance" %}
                                                                                                        <span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Instance</span>
                                                                                                    {% elif s == "Non saisie" %}
                                                                                                        <span><i class="menu-icon fa fa-times"></i> Non saisie</span>
                                                                                                    {% elif s == "En cours" %}
                                                                                                        <span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
                                                                                                    {% endif %}

                                                                                                {% endif %}
                                                                                            {% endfor %}

                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                        
                                                            {% elif user.user_type == 6 %}
                                                                
                                                                {% for u in unites_cadre %}
                                                                    <tr>
                                                                        <td>{{u.lib}} ({{u.code_alpha}})</td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, ss in us.items  %}
                                                                                        {% if key3 == "pr" %}
                                                                                            {{ss}} %
                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        <td>
                                                                            {% for key2, us in b.items  %}
                                                                                {% if key2 == u.id %}

                                                                                    {% for key3, unite_state in us.items  %}
                                                                                        {% if key3 == "state" %}

                                                                                            {% for key4, s in unite_state.items  %}
                                                                                                {% if key4 == "cadre" %}

                                                                                                    {% if s == "Terminé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
                                                                                                    {% elif s == "Validé" %}
                                                                                                        <span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
                                                                                                    {% elif s == "Instance" %}
                                                                                                        <span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Instance</span>
                                                                                                    {% elif s == "Non saisie" %}
                                                                                                        <span  style="color: red;"><i class="menu-icon fa fa-times"></i> Non saisie</span>
                                                                                                    {% elif s == "En cours" %}
                                                                                                        <span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
                                                                                                    {% endif %}

                                                                                                {% endif %}
                                                                                            {% endfor %}

                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}

                                                            {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="card-body">
                                    <h4> Aucun Budget en cours ... </h4> 
                                </div>  
                            {% endif %}
            
                        </div>
                       

                       

                       
                    </div>
                </div>
            </div>

            <!--  Anneés budgetaire  -->
            {% if user.user_type == 4  %} 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="box-title"><strong><span><i class="menu-icon fa fa-calendar"></i> </span></strong> Années Budgétaires 
                                <a href="{% url 'add_annee_bdg' %}" class="btn btn-sm btn-outline-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter</a></h1>
                            </div>
                            
                            <div class="card-body">
                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                <table id="bootstrap-data-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Année</th>
                                            <th>Type budget</th>
                                            <th>Lancement</th>
                                            <th>Clôture</th>
                                            
                                            {% if user.user_type == 4 %}
                                                <th>Action</th>
                                            {% endif %}
                                                
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {% for b in budgets %}
                                        <tr>
                                            <td>{{b.id}}</td>
                                            <td>{{b.annee}}</td> 
                                            <td>{{b.type_bdg}}</td>
                                            <td>
                                                
                                                {% if b.lancement == True %}
                                                    <span style="color: green;"><i class="menu-icon fa fa-check"></i></span>
                                                {% else %}
                                                    <span style="color: red;"><i class="menu-icon fa fa-times"></i></span>
                                                {% endif %}
                                                
                                            </td>
                                            <td>
                                                {% if b.cloture == True %}
                                                    <span style="color: green;"><i class="menu-icon fa fa-check"></i></span>
                                                {% else %}
                                                    <span style="color: red;"><i class="menu-icon fa fa-times"></i></span>
                                                {% endif %}
                                            </td>
                                            
                                            {% if user.user_type == 4 %}
                                                <td> 
                                                    <a href="update_annee_bdg/{{b.id}}" class="btn btn-sm btn-outline-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Mis à jour</a>
                                                </td>
                                            {% endif %}

                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        

                        </div>
                    </div>
                </div>
            {% endif %}

            

        </div>
        <!-- .animated -->
    </div>
{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });

      $("#myInput1").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable1 tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });

	});
</script>
<script>
    function formatMoney(n) {
        return "" + (Math.round(n * 100) / 100).toLocaleString();
    }
    const element1 = $( "#numbersID1" ); 
    const element2 = $( "#numbersID2" ); 
    const element3 = $( "#numbersID3" ); 
    const element4 = $( "#numbersID4" ); 
    const element5 = $( "#numbersID5" ); 
    const element6 = $( "#numbersID6" ); 
    const element7 = $( "#numbersID7" ); 

    const numberValue1 = parseInt(element1.text());
    const numberValue2 = parseInt(element2.text());
    const numberValue3 = parseInt(element3.text());
    const numberValue4 = parseInt(element4.text());
    const numberValue5 = parseInt(element5.text());
    const numberValue6 = parseInt(element6.text());
    const numberValue7 = parseInt(element7.text());

    element1.text(formatMoney(numberValue1));
    element2.text(formatMoney(numberValue2));
    element3.text(formatMoney(numberValue3));
    element4.text(formatMoney(numberValue4));
    element5.text(formatMoney(numberValue5));
    element6.text(formatMoney(numberValue6));
    element7.text(formatMoney(numberValue7));


    //const objects = $(".numberFormat");
    //for (var obj of objects) {
     //   console.log(obj);
     //   const numberValue = parseInt(obj.text());
     //   obj.text(formatMoney(numberValue));
    //}
</script>

{% endblock %}