{% extends "base.html" %}
{% block scf_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="row content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">				
						<br>
						<h3>Add comptes SCF Comptes</h3>
						<hr>
						<!-- form pour ajouter cadres -->
						<div class="container py-5">
							<a href="{% url 'add_pos1' %}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Compte 1 position</a>           
							<a href="{% url 'add_pos2' %}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Compte 2 positions</a>            
							<a href="{% url 'add_pos3' %}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Compte 3 positions</a>            
							<a href="{% url 'add_pos6' %}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Compte 6 positions</a>            
							<a href="{% url 'add_pos7' %}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Compte 7 positions</a>            
						</div>
						<hr>
            </div>
        </div>
    </div><!-- /# column -->
</div>

{% endblock %}