{% extends "base.html" %}
{% block scf_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="row content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">				
						<br>
						<h3>Add new Compte</h3>
						<hr>
						<!-- form pour ajouter cadres -->
						<div class="container py-5">
							<form method="post">
								{% csrf_token %}
								<div class="form-row">
									<div class="form-group col-md-2 mb-0">
										{{ compte_form.numero|as_crispy_field }}
									</div>
									<div class="form-group col-md-10 mb-0">
										{{ compte_form.rubrique|as_crispy_field }}
									</div>
								</div>
								{{ compte_form.ref|as_crispy_field }}
		
								<button type="submit" class="btn btn-primary">Ajouter</button>
								<a href="{% url 'scf_comptes' %}" class="btn btn-secondary">Annuler</a>
							  </form>
						</div>
            </div>
        </div>
    </div><!-- /# column -->
</div>

{% endblock %}