{% extends "base.html" %}

{% block scf_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   
<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Admin</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Comptes SCF</a></li>
							<li><a href="#">List</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>      

<div class="row content">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">La list de toutes comptes SCF </strong>
                            <a href="{% url 'add_pos6' %}" class="btn btn-sm btn-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter Compte</a>
							<a href="#" class="btn btn-sm btn-outline-primary float-right" style="margin-right: 10px;"> <span><i class="menu-icon fa fa-cloud-upload"></i></span> Import CSV</a>

						</div>
						<div class="card-body">

							<div id="accordion">
								
								{% for c1 in pos1  %}
								<div class="container">
									<div class="container" id="h{{c1.numero}}">
										<h6 class="mb-0">
											<a href="" class="nav-link" data-toggle="collapse" data-target="#c{{c1.numero}}" aria-expanded="true" aria-controls="c{{c1.numero}}">
												{{c1.numero}} - {{c1.rubrique}}
											</a>
										</h6>
									</div>
							  
									<div id="c{{c1.numero}}" class="container collapse" aria-labelledby="h{{c1.numero}}" data-parent="#accordion">
										<div class="card-body">
											<div id="accordion2">
												{% for c2 in c1.comptes.all  %}
												<div class="container">
													<div class="container" id="h{{c2.numero}}">
														<h6 class="mb-0">
															<a href="" class="nav-link" data-toggle="collapse" data-target="#c{{c2.numero}}" aria-expanded="true" aria-controls="c{{c2.numero}}">
																{{c2.numero}} - {{c2.rubrique}}
															</a>
														</h6>
													</div>
										  
													<div id="c{{c2.numero}}" class="container collapse" aria-labelledby="h{{c2.numero}}" data-parent="#accordion2">
														<div class="card-body">
															<div id="accordion3">
																{% for c3 in c2.comptes.all  %}
																<div class="container">
																	<div class="container" id="h{{c3.numero}}">
																		<h6 class="mb-0">
																			<a href="" class="nav-link" data-toggle="collapse" data-target="#c{{c3.numero}}" aria-expanded="true" aria-controls="c{{c3.numero}}">
																				{{c3.numero}} - {{c3.rubrique}}
																			</a>
																		</h6>
																	</div>
													  
																	<div id="c{{c3.numero}}" class="container collapse" aria-labelledby="h{{c3.numero}}" data-parent="#accordion3">
																		<div class="card-body">
																			<div id="accordion6">
																				{% for c6 in c3.comptes.all  %}
																				<div class="container">
																					<div class="container" id="h{{c6.numero}}">
																						<h6 class="mb-0">
																							<a href="" class="nav-link" data-toggle="collapse" data-target="#c{{c6.numero}}" aria-expanded="true" aria-controls="c{{c6.numero}}">
																								{{c6.numero}} - {{c6.rubrique}}
																							</a>
																						</h6>
																					</div>
																  
																					<div id="c{{c6.numero}}" class="container collapse" aria-labelledby="h{{c6.numero}}" data-parent="#accordion6">
																						<div class="card-body">
																							
																							{% for c7 in c6.comptes.all %}
																								<a href="" class="nav-link" >
																									{{c7.numero}} - {{c7.rubrique}}
																								</a>
																							{% endfor %}
																								
																						</div>
																					</div>
																				</div>
																				{% endfor %}
																			</div>
																		</div>
																	</div>
																</div>
																{% endfor %}
															</div>
														
														</div>
													</div>
												</div>
												{% endfor %}
												</div>
											</div>

										</div>
									</div>
									{% endfor %}

							</div>

						</div>
					</div>
				</div>



</div>

{% endblock %}