{% extends "base.html" %}
{% block annee_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="row content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">				
						<br>
						<h3>Mis à jour {{annee_bdg.type_bdg}} Budget <strong>{{annee_bdg.annee}}</strong></h3>
						<hr>
						<!-- form pour ajouter cadres -->
						<div class="container py-5">
							<form method="post">
								{% csrf_token %}

                                {{ form.lancement|as_crispy_field }}
                                {{ form.cloture|as_crispy_field }}

								<button type="submit" class="btn btn-primary">Mis à jour</button>
								<a href="{% url 'annee_bdg' %}" class="btn btn-secondary">Annuler</a>
							  </form>
						</div>
            </div>
        </div>
    </div><!-- /# column -->
</div>

{% endblock %}