{% extends "base.html" %}
{% block unite_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="row content">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">				
						<br>
						<h3>Add new Unite</h3>
						<hr>
						<!-- form pour ajouter cadres -->
						<div class="container py-5">
							<form method="post">
								{% csrf_token %}
								<div class="form-row">
									<div class="form-group col-md-4 mb-0">
									{{ unite_form.code_num|as_crispy_field }}
									</div>
									<div class="form-group col-md-4 mb-0">
									{{ unite_form.code_alpha|as_crispy_field }}
									</div>
                                    <div class="form-group col-md-4 mb-0">
                                    {{ unite_form.departement|as_crispy_field }}
                                    </div>
								</div>
								{{ unite_form.lib|as_crispy_field }}
								<div class="form-row">
									<div class="form-group col-md-3 mb-0">
                                    {{ unite_form.monnaie|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3 mb-0">
                                    {{ unite_form.pays|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3 mb-0">
                                    {{ unite_form.reseau_unite|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-3 mb-0">
                                    {{ unite_form.region|as_crispy_field }}
                                    </div>
								</div>
                                <hr>
                                {{ unite_form.comm|as_crispy_field }}
                                {{ unite_form.tresorie|as_crispy_field }}
                                {{ unite_form.traffic|as_crispy_field }}
                                {{ unite_form.recette|as_crispy_field }}
                                {{ unite_form.exploitation|as_crispy_field }}
                                {{ unite_form.emmission|as_crispy_field }}
                                {{ unite_form.regle_possible|as_crispy_field }}


								<button type="submit" class="btn btn-primary">Ajouter</button>
								<a href="{% url 'unite_list' %}" class="btn btn-secondary">Annuler</a>
							  </form>
						</div>
            </div>
        </div>
    </div><!-- /# column -->
</div>

{% endblock %}