{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Consultation :  
							
							{% if budget.type_bdg == "PROPOS"  %}
								<strong> Proposition Budget <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "REUN"%}
								<strong> Réunion Budget <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "NOTIF"%}
								<strong> Budget Notifié <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "CTRL"%}
								<strong> Contrôle budgétaire <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "RELS"%}
								<strong> Réalisation Comptable <b> {{budget.annee}} </b></strong> 
							{% endif %}	 
						</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites_notif' %}">Unités</a></li>
                            <li><a href="/notif/unite/{{unite.id}}">{{unite.code_alpha}}</a></li>
							<li><a href="#">{{chapitre.lib}}</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row content">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<strong class="card-title">{{chapitre.lib}}
				</strong>
			</div>
			<div class="card-body">
					<input class="form-control" id="myInput" type="text" placeholder="Search..">
					
					
					{% if chapitre.code_num == 1 or chapitre.code_num == 2 or chapitre.code_num == 4 %}	<!-- Offre / Traffic / CA Transport -->
						
						{% if id_volet == 3 or id_volet == 4 %}
							<div class = "table-responsive" style="width:100%; max-width:900px;	overflow-x:scroll;">
							<table style="font-size:small;" class="table table-striped table-bordered">

						{% else %}
							<table class="table table-striped">
						{% endif %}

							<thead>
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>

										<th>Montant Prévision</th> 
										<th>Montant Clôture</th>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>

										<th>Janvier</th>
										<th>Février</th>
										<th>Mars</th>
										<th>Avril</th>
										<th>Mai</th>
										<th>Juin</th>
										<th class="table-secondary">Total Semestre_1</th>
										<th>Juillet</th>
										<th>Août</th>
										<th>Septembre</th>
										<th>Octobre</th>
										<th>Novembre</th>
										<th>Décembre</th>
										<th class="table-secondary">Total Semestre_2</th>
										<th class="table-success">Total Annuel <span style="margin:20px"></span></th>
									{% endif %}

									<!-- Réalisation -------->
									{% if id_volet == 5 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>

										<th>Montant Prévision</th> 
									{% endif %}
										

																	
								</tr>
							</thead>
							<tbody id="myTable">
								{% for c in comptes %}
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	
	
															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}
	
															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					
	
	
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}
	
													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant_cloture}}</span>
													{% else %}	
														-																
													{% endif %}	
												{% endif %}	
											{% endfor %}
										</td>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>

										{% for key, m in cm_dict.items  %}
											{% if key == c.id %}
												{% if m.mens_done == True %}
													<td>{{m.janvier}}</td>
													<td>{{m.fevrier}}</td>
													<td>{{m.mars}}</td>
													<td>{{m.avril}}</td>
													<td>{{m.mai}}</td>
													<td>{{m.juin}}</td>
													<td class="table-secondary">
														{% for key, m in s1_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
													<td>{{m.juillet}}</td>
													<td>{{m.aout}}</td>
													<td>{{m.septemre}}</td>
													<td>{{m.octobre}}</td>
													<td>{{m.novembre}}</td>
													<td>{{m.decembre}}</td>
													<td class="table-secondary">
														{% for key, m in s2_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
												{% else %}
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
												{% endif %}
											{% endif %}
										{% endfor %}

										<td class="table-success">
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	
	
															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}
	
															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					
	
	
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}
	
													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
	
									{% endif %}

									<!-- Réalisation -->
									{% if id_volet == 5 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	
	
															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}
	
															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					
	
	
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}
	
													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
									{% endif %}

								</tr>
					
								{% endfor %}
							</tbody>
						</table>
						{% if id_volet == 3 or id_volet == 4 %}
							</div>
						{% endif %}


					{% elif chapitre.code_num == 3 %} <!-- CA Emmission -->

						{% if id_volet == 3 or id_volet == 4 %}
							<div class = "table-responsive" style="width:100%; max-width:900px;	overflow-x:scroll;">
							<table style="font-size:small;" class="table table-striped table-bordered">

						{% else %}
							<table class="table table-striped">
						{% endif %}

							<thead>
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Montant Prévision</th> 
										<th>Montant Clôture</th>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Janvier</th>
										<th>Février</th>
										<th>Mars</th>
										<th>Avril</th>
										<th>Mai</th>
										<th>Juin</th>
										<th class="table-secondary">Total Semestre_1</th>
										<th>Juillet</th>
										<th>Août</th>
										<th>Septembre</th>
										<th>Octobre</th>
										<th>Novembre</th>
										<th>Décembre</th>
										<th class="table-secondary">Total Semestre_2</th>
										<th class="table-success">Total Annuel <span style="margin:20px"></span></th>
									{% endif %}

									<!-- Réalisation -------->
									{% if id_volet == 5 %}
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Réseau</th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Montant</th> 
									{% endif %}
										

																	
								</tr>
							</thead>
							<tbody id="myTable">
								{% for c in comptes %}
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant_cloture}}</span>
													{% else %}	
														-																
													{% endif %}	
												{% endif %}	
											{% endfor %}
										</td>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										{% for key, m in cm_dict.items  %}
											{% if key == c.id %}
												{% if m.mens_done == True %}
													<td>{{m.janvier}}</td>
													<td>{{m.fevrier}}</td>
													<td>{{m.mars}}</td>
													<td>{{m.avril}}</td>
													<td>{{m.mai}}</td>
													<td>{{m.juin}}</td>
													<td class="table-secondary">
														{% for key, m in s1_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
													<td>{{m.juillet}}</td>
													<td>{{m.aout}}</td>
													<td>{{m.septemre}}</td>
													<td>{{m.octobre}}</td>
													<td>{{m.novembre}}</td>
													<td>{{m.decembre}}</td>
													<td class="table-secondary">
														{% for key, m in s2_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
												{% else %}
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
												{% endif %}
											{% endif %}
										{% endfor %}

										<td class="table-success">
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>

									{% endif %}

									<!-- Réalisation -->
									{% if id_volet == 5 %}
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
									{% endif %}

								</tr>
					
								{% endfor %}
							</tbody>
						</table>
						{% if id_volet == 3 or id_volet == 4 %}
							</div>
						{% endif %}

					{% elif chapitre.code_num == 5 %} <!-- Recettes -->
						{% if id_volet == 3 or id_volet == 4 %}
							<div class = "table-responsive" style="width:100%; max-width:900px;	overflow-x:scroll;">
							<table style="font-size:small;" class="table table-striped table-bordered">

						{% else %}
							<table class="table table-striped">
						{% endif %}
							<thead>
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<th>N° SCF</th>
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Montant Prévision</th> 
										<th>Montant Clôture</th>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<th>N° SCF</th>
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Janvier</th>
										<th>Février</th>
										<th>Mars</th>
										<th>Avril</th>
										<th>Mai</th>
										<th>Juin</th>
										<th class="table-secondary">Total Semestre_1</th>
										<th>Juillet</th>
										<th>Août</th>
										<th>Septembre</th>
										<th>Octobre</th>
										<th>Novembre</th>
										<th>Décembre</th>
										<th class="table-secondary">Total Semestre_2</th>
										<th class="table-success">Total Annuel <span style="margin:20px"></span></th>
									{% endif %}

									<!-- Réalisation -------->
									{% if id_volet == 5 %}
										<th>N° SCF</th>
										<th>Rubrique budgétaire <span style="margin:60px"></span> </th>
										<th>Monnaie</th>
										<th>Reglé par</th>

										<th>Montant</th> 
									{% endif %}
																	
								</tr>
							</thead>
							<tbody id="myTable">
								{% for c in comptes %}
								<tr>
									<!-- Propos et reunion -->
									{% if id_volet == 1 or id_volet == 2 %}
										<td>{{c.compte.numero}}</td>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant_cloture}}</span>
													{% else %}	
														-																
													{% endif %}	
												{% endif %}	
											{% endfor %}
										</td>
									{% endif %}

									<!-- Notif et controle -->
									{% if id_volet == 3 or id_volet == 4 %}
										<td>{{c.compte.numero}}</td>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										{% for key, m in cm_dict.items  %}
											{% if key == c.id %}
												{% if m.mens_done == True %}
													<td>{{m.janvier}}</td>
													<td>{{m.fevrier}}</td>
													<td>{{m.mars}}</td>
													<td>{{m.avril}}</td>
													<td>{{m.mai}}</td>
													<td>{{m.juin}}</td>
													<td class="table-secondary">
														{% for key, m in s1_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
													<td>{{m.juillet}}</td>
													<td>{{m.aout}}</td>
													<td>{{m.septemre}}</td>
													<td>{{m.octobre}}</td>
													<td>{{m.novembre}}</td>
													<td>{{m.decembre}}</td>
													<td class="table-secondary">
														{% for key, m in s2_dict.items %}
															{% if key == c.id %}
																	<span>{{m}}</span>
															{% endif %}	
														{% endfor %}
													</td>
												{% else %}
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
													<td>-</td>
												{% endif %}
											{% endif %}
										{% endfor %}

										<td class="table-success">
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>

									{% endif %}

									<!-- Réalisation -->
									{% if id_volet == 5 %}
										<td>{{c.compte.numero}}</td>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.monnaie}}</td>
										<td>{{c.regle_par}}</td>

										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant}}</span>
														{% if m.commentaire_montant != None %}	

															{% if m.commentaire_montant.importance == "F" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "M" %} 
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% elif m.commentaire_montant.importance == "C" %}
																<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																		<div class="modal-content">
																		<div class="modal-header">
																				<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																				</button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																					


																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->							
														{% endif %}

													{% else %}
														-											
													{% endif %}	
												{% endif %}		
											{% endfor %}
										</td>
									{% endif %}

								</tr>
					
								{% endfor %}
							</tbody>
						</table>
						{% if id_volet == 3 or id_volet == 4 %}
							</div>
						{% endif %}
					{% elif chapitre.code_num == 6 or chapitre.code_num == 7 %} <!-- Depenses -->
					{% endif %}
			
											
			</div>
		</div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

{% endblock %}