{% extends "base.html" %}


{% if id_volet == 1 %}
	{% block prop_active %}
	<li class="menu-item-has-children dropdown active">
	{% endblock %}	
{% endif %}
	

{% block content %} 

{% load crispy_forms_tags %}  




	<div class="breadcrumbs">
		<div class="breadcrumbs-inner">
			<div class="row m-0">
				<div class="col-sm-8">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Consultation du budget  <strong> Proposition</strong></h1>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="page-header float-right">
						<div class="page-title">
							<ol class="breadcrumb text-right">
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  

	<div class="row content">

		<div class="col-md-12">
			<div class="accordion" id="accordionExample">
				
				{% for budget in budgets %}	
					<div class="card" style="margin-bottom: 2px;">
						<div class="card-header" id="hua{{budget.id}}" role="tab" data-toggle="collapse" data-target="#cua{{budget.id}}" aria-expanded="true" aria-controls="cua{{budget.id}}">
							<strong class="card-title"><b> {{budget.annee}}</b> {{budget.type_bdg}} <span class="float-right"><i class="menu-icon fa fa-angle-right" style="margin-right: 10px;"></i></span> </strong>
						</div>
						<div class="card-body collapse" id="cua{{budget.id}}" aria-labelledby="hua{{budget.id}}" data-parent="#accordionExample">
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Unité</th>
										<th>Monnaie</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									
										{% for u in unites %}
											<tr>
												<td>{{u.lib}} ({{u.code_alpha}})</td>
												<td>{{u.monnaie.code_alpha}} / {{u.monnaie.code_num}} </td>
												<td>
													<a href="{{budget.id}}/{{u.id}}" class="btn btn-outline-info btn-sm"><span><i class="menu-icon fa fa-folder-open"></i></span> Ovrire</a>
													<a href="{{budget.id}}/{{u.id}}" class="btn btn-outline-info btn-sm"><span><i class="menu-icon fa fa-download"></i></span></a>
												</td>
											</tr>
										{% endfor %}
								
								</tbody>
							</table>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>

	</div>

    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

{% endblock %}