{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}      




<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-8">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Consultation :  
							
							{% if budget.type_bdg == "PROPOS"  %}
								<strong> Proposition Budget <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "REUN"%}
								<strong> Réunion Budget <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "NOTIF"%}
								<strong> Budget Notifié <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "CTRL"%}
								<strong> Contrôle budgétaire <b> {{budget.annee}} </b></strong> 
							{% elif budget.type_bdg == "RELS"%}
								<strong> Réalisation Comptable <b> {{budget.annee}} </b></strong> 
							{% endif %}	 
						</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Unités</a></li>
                            <li><a href="#">{{unite.code_alpha}} </a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  

<div class="row content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span><i class="menu-icon fa fa-building-o"></i></span>  <strong class="card-title">  {{unite.lib}} 
				<a class="float-right" href="#"><i class="menu-icon fa fa-download"></i> Télécharger</a> </strong>
            </div>
            <div class="card-body">
				<table id="bootstrap-data-table" class="table table-striped">
					<thead>
						<tr>
							<th>Chapitre</th>
							<th>Total</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for c in chapitres  %}
						
							{% if c.code_num == 1 or c.code_num == 2 or c.code_num == 4 %}
								{% if unite.traffic  %}
									<tr>
										<td>{{c.lib}}</td>	
										<td>
											
											{% if c.code_num == 4 %}
												<span style="color: green;">
													<strong id="numbersID4">{{rct_trans_total}}  </strong> <strong><b>DZD</b></strong>
												</span>
											{% elif c.code_num == 1 %}
												<span>
													
													{% if off_pax_total > 0 %}
														<i class="menu-icon fa fa-users"></i> PAX :<strong> <span id="numbersID1">{{off_pax_total}} </span></strong> <br>
													{% endif %}
													{% if off_bcb_total > 0 %}
														<i class="menu-icon fa fa-suitcase"></i> BCB : <strong>{{off_bcb_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
													{% if off_fret_total > 0 %}
														<i class="menu-icon fa fa-cubes"></i> FRET : <strong>{{off_fret_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
													{% if off_poste_total > 0 %}
														<i class="menu-icon fa fa-envelope"></i> POSTE :<strong> {{off_poste_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
														
												</span>
											{% elif c.code_num == 2 %}
												<span>
														
													{% if trf_pax_total > 0 %}
														<i class="menu-icon fa fa-users"></i> PAX :<strong><span id="numbersID2"> {{trf_pax_total}}</span></strong> <br>
													{% endif %}
													{% if trf_bcb_total > 0 %}
														<i class="menu-icon fa fa-suitcase"></i> BCB : <strong>{{trf_bcb_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
													{% if trf_fret_total > 0 %}
														<i class="menu-icon fa fa-cubes"></i> FRET : <strong>{{trf_fret_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
													{% if trf_poste_total > 0 %}
														<i class="menu-icon fa fa-envelope"></i> POSTE :<strong> {{trf_poste_total}} <b>Tonnes</b> </strong> <br>
													{% endif %}
														
												</span>
											{% endif %}
												
										</td>
										<td>
											<a href="{{unite.id}}/{{c.code_num}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
										</td>
									</tr>
								{% endif %}
							{% elif c.code_num == 3 %}
								{% if unite.emmission  %}
									<tr>
										<td>{{c.lib}}</td>	
										<td>
											<strong id="numbersID3">{{emission_total}}  </strong> <strong> <b>{{unite.monnaie}}</b></strong> 
										</td>
										<td>
											<a href="{{unite.id}}/{{c.code_num}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
										</td>
									</tr>
								{% endif %}
							{% elif c.code_num == 5 %}
								{% if unite.recette  %}
									<tr>
										<td>{{c.lib}}</td>	
										<td>
											<span style="color: green;">
												<strong id="numbersID5">{{autre_rct_total}}  </strong> <strong><b>DZD</b> </strong>
											</span>
										</td>
										<td>
											<a href="{{unite.id}}/{{c.code_num}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
										</td>
									</tr>
								{% endif %}
							{% elif c.code_num == 6 %}
								<tr>
									<td>{{c.lib}}</td>	
									<td>
										<span style="color: red;">
											<strong id="numbersID6">{{dpns_fonc_total}} </strong>  <strong><b>{{unite.monnaie}} </b></strong> 
										</span>
									</td>
									<td>
										<a href="{{unite.id}}/{{c.code_num}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
									</td>
								</tr>
							{% elif c.code_num == 7 %}
								{% if unite.exploitation  %}
									<tr>
										<td>{{c.lib}}</td>	
										<td>
											<span style="color: red;">
												<strong id="numbersID7">{{dpns_exp_total}} </strong>  <strong> <b>{{unite.monnaie}} </b></strong> 
											</span>
										</td>
										<td>
											<a href="{{unite.id}}/{{c.code_num}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
										</td>
									</tr>
								{% endif %}

							{% endif %}
								
						{% endfor %}
					</tbody>
				</table>				
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% if budget.type_bdg == "PROPOS"  %}
	<script>
		const element = $( "#propos" );
		element.addClass("active");
	</script>
{% elif budget.type_bdg == "REUN"%}
	<script>
		const element = $( "#reun" );
		element.addClass("active");
	</script> 
{% elif budget.type_bdg == "NOTIF"%}
	<script>
		const element = $( "#notif" );
		element.addClass("active");
	</script> 
{% elif budget.type_bdg == "CTRL"%}
	<script>
		const element = $( "#control" );
		element.addClass("active");
	</script>
{% elif budget.type_bdg == "RELS"%}
	<script>
		const element = $( "#realis" );
		element.addClass("active");
	</script>
{% endif %}	


<script>
    function formatMoney(n) {
        return "" + (Math.round(n * 100) / 100).toLocaleString();
    }
    const element1 = $( "#numbersID1" ); 
    const element2 = $( "#numbersID2" ); 
    const element3 = $( "#numbersID3" ); 
    const element4 = $( "#numbersID4" ); 
    const element5 = $( "#numbersID5" ); 
    const element6 = $( "#numbersID6" ); 
	const element7 = $( "#numbersID7" );


    const numberValue1 = parseInt(element1.text());
    const numberValue2 = parseInt(element2.text());
    const numberValue3 = parseInt(element3.text());
    const numberValue4 = parseInt(element4.text());
    const numberValue5 = parseInt(element5.text());
    const numberValue6 = parseInt(element6.text());
	const numberValue7 = parseInt(element7.text());


    element1.text(formatMoney(numberValue1));
    element2.text(formatMoney(numberValue2));
    element3.text(formatMoney(numberValue3));
    element4.text(formatMoney(numberValue4));
    element5.text(formatMoney(numberValue5));
    element6.text(formatMoney(numberValue6));
	element7.text(formatMoney(numberValue7));



    //const objects = $(".numberFormat");
    //for (var obj of objects) {
     //   console.log(obj);
     //   const numberValue = parseInt(obj.text());
     //   obj.text(formatMoney(numberValue));
    //}
</script>



{% endblock %}