{% extends "base.html" %}

{% block prop_active %}
<li class="menu-item-has-children dropdown active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Proposition Budget <strong> {{budget.annee}}</strong></h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites' %}">Unités</a></li>
                            <li><a href="#">{{unite.code_alpha}}</a></li>
							<li><a href="#">Offre</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row content">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							
							{% if user.user_type == 5 %}
								{% if offre_v and offre_s %}	
									<strong class="card-title">Offre <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span></strong>
								{% elif offre_s and offre_v == False  %}
									<strong class="card-title">Offre <span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Instance</span></strong>
								{% elif offre_non_s %}
									<strong class="card-title">Offre <span class="float-right" ><i class="menu-icon fa fa-times"></i> Non saisie</span></strong>
								{% elif offre_non_s == False and offre_s == False%}
									<strong class="card-title">Offre <span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span></strong>
								{% endif %}

							{% elif user.user_type == 6 %}

								{% if offre_s and offre_v == False %}	
									<strong class="card-title">Offre <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span></strong>
								{% elif offre_non_s  %}
									<strong class="card-title">Offre <span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Non saisie</span></strong>
								{% elif offre_non_s == False and offre_s == False %}
									<strong class="card-title">Offre <span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span></strong>
								{% elif offre_s and offre_v %}
									<strong class="card-title">Offre <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span></strong>
								{% endif %}
							
							{% else %}
								<strong class="card-title">Offre</strong>
							{% endif %}
							
						</div>
						<div class="card-body">
							{% if user.user_type == 5 %}
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Rubrique</th>
										<th>Reseau</th>
                                        <th>Montant</th>
										<th>M-Cloture</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable" >
									{% for c in comptes %}
									<tr>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" and m.annee_budgetaire.annee == budget.annee %}
														{% if m.commentaire_montant != None %}

															{% if m.vld_chef_dep %}
																<span style="color: green;">{{m.montant}}</span>
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% else %}
																<span style="color: orange;">{{m.montant}}</span>
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% endif %}
														{% else %}
															{% if m.vld_chef_dep %}
																<span style="color: green;">{{m.montant}}</span>	
															{% else %}
																<span style="color: orange;">{{m.montant}}</span>
															{% endif %}
														{% endif %}																		
													{% endif %}	
												{% endfor %}
											{% else %}
												--------
											{% endif %}	
										</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" and m.annee_budgetaire.annee == budget.annee %}
														<span>{{m.montant_cloture}}</span>																	
													{% endif %}	
												{% endfor %}
											{% else %}
											--------
											{% endif %}
										</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" %}
													
															{% if m.vld_chef_dep %}
																<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																<!-- Button trigger modal -->
																<button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#e{{m.id}}">
																	<span><i class="menu-icon fa fa-times-circle"></i></span>
																</button>
																<!-- Modal -->
																<div class="modal fade" id="e{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																	<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																		<strong><h4 class="modal-title" id="exampleModalLabel">Annuler la validation</h4></strong>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																		</div>
																		<div class="modal-body">
																			Please make sure that you want to cancel the validation for this compte : <br>
																			Compte : <span style="color: red;"> {{m.unite_compte.compte.numero}} - {{m.unite_compte.compte.rubrique}}</span><br>
																			Montant : <span style="color: red;"> {{m.montant}}</span>
																		</div>
																		<div class="modal-footer">
																		<a href="cancel_valid_montant/{{m.id}}" class="btn btn-sm btn-danger"> Oui, Confirmer</a>
																		<button type="button" class="btn btn-sm  btn-secondary" data-dismiss="modal">Close</button>
																		</div>
																	</div>
																	</div>
																</div>

															{% else %}
																<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																<a href="valid_montant/{{m.id}}" class="btn btn-sm btn-outline-success"  data-toggle="tooltip" data-html="true" data-placement="right" title="Vaidation du Montant"><span><i class="menu-icon fa fa-check"></i></span></a>		
															{% endif %}

													{% endif %}	
												{% endfor %}
											{% else %}
												<a href="add_montant_offre/{{c.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
											{% endif %}
										</td>
										
									</tr>
						
									{% endfor %}
								</tbody>
							</table>
							{% endif %}

							{% if user.user_type == 6 %}
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Rubrique</th>
										<th>Reseau</th>
                                        <th>Montant</th>
										<th>M-Cloture</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for c in comptes %}
									<tr>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" and m.annee_budgetaire.annee == budget.annee %}
														
																												
													{% if m.commentaire_montant != None %}													
															{% if m.vld_chef_dep == False %}
																<span>{{m.montant}}</span>	
																
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}

															{% elif m.vld_chef_dep and m.montant == m.montant_cadre  %}
																<span style="color: green;">{{m.montant}}</span>
														
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" ><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}

															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == True  %}
																<span style="color: orange;"> {{m.montant}}</i></span>

																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == False  %}
																<span style="color: red;">{{m.montant}}</span>

																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% else %}
																<span>{{m.montant}}</span>
															{% endif %}

														{% else %}
															{% if m.vld_chef_dep == False %}
																<span>{{m.montant}}</span>	
															{% elif m.vld_chef_dep and m.montant == m.montant_cadre  %}
																<span style="color: green;">{{m.montant}}														
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == True  %}
																<span style="color: orange;"> {{m.montant}}</i></span>
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == False  %}
																<span style="color: red;">{{m.montant}}</span>
															{% else %}
																<span>{{m.montant}}</span>
															{% endif %}
														{% endif %}
																															
													{% endif %}	
												{% endfor %}
											{% else %}
												--------
											{% endif %}	
										</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" and m.annee_budgetaire.annee == budget.annee %}
															<span>{{m.montant_cloture}}</span>																	
													{% endif %}	
												{% endfor %}
											{% else %}
											--------
											{% endif %}
										</td>
										<td>
											{% if c.montants.all %}
												{% for m in c.montants.all  %}
													{% if m.type_bdg == "PROPOS" %}
													
															{% if m.vld_chef_dep %}
																<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
															{% else %}
																<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
															{% endif %}

													{% endif %}	
												{% endfor %}
											{% else %}
												<a href="add_montant_offre/{{c.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
											{% endif %}
										</td>
										
									</tr>
						
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
								

						</div>
						<div class="card-footer">
							<a href="add_new_compte/{{unite.id}}" class="btn btn-info btn-sm btn-block"><span><i class="menu-icon fa fa-plus"></i></span> Ajouter autre compte<span></a>
						</div>
					</div>
				</div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

<script>
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover();   
	});
</script>
{% endblock %}