{% extends "base.html" %}

{% block aff_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   
     
<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Admin</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Afféctation</a></li>
							<li><a href="#">Cadres</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>    

<div class="row content">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">La list des cadres </strong>
                            <a href="{% url 'ajouter_cadre' %}" class="btn btn-sm btn-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter</a>
						</div>
						<div class="card-body">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Nom</th>
										<th>Prénom</th>
										<th>Email</th>
										<th>Département</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for c in cadre %}
									<tr>
										<td>{{c.nom}}</td>
										<td>{{c.prenom}}</td>
										<td>{{c.email}}</td>
										<td>{{c.departement}}</td>
										<td>
											<a href="show_unites/{{c.id}}" class="btn btn-sm btn-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Modifier unités</a>
										</td>
									</tr>
						
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>



</div>

{% endblock %}