{% extends "base.html" %}

{% block aff_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Admin</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Afféctation</a></li>
							<li><a href="#">{{c.nom}}</a></li>
							<li><a href="#">Unités</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>    

<div class="row content">
				<div class="col-md-12">
					<a href="{% url 'show_cadres' %}" class="btn btn-outline-dark"><span><i class="menu-icon fa fa-long-arrow-left"></i></span> Reteur</a> <br><br>
					<div class="card">
						<div class="card-header">
							<strong class="card-title">La list des unités affectés au <b>{{c.nom}}</b> </strong>
                            <a href="add_unite_to_cadre/{{c.id}}" class="btn btn-sm btn-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter</a>
						</div>
						<div class="card-body">
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Code Alpha</th>
										<th>Département</th>
										<th>Monnaie</th>
                                        <th>Pays</th>
                                        <th>Réseau</th>
                                        <th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for u in unites %}
									<tr>
										<td>{{u.id}}</td>
										<td>{{u.unite.code_alpha}}</td>
										<td>{{u.unite.departement.code}}</td>
										<td>{{u.unite.monnaie.code_alpha}}</td>
                                        <td>{{u.unite.pays.lib}}</td>
                                        <td>
											
											{% if u.unite.region == "1.0" %}
												International
											{% else %}
												Domestique
											{% endif %}
												
										</td>
										<td>
											<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#e{{u.id}}"><span><i class="menu-icon fa fa-trash-o"></i></span></button>
										</td>
									</tr>

									<!-- Modal -->
									<div class="modal fade" id="e{{u.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
								  			<div class="modal-content">
												<div class="modal-header">
									  				<h3 class="modal-title" id="exampleModalLabel">Confirme Delete</h3>
									  				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
									  				</button>
												</div>
												<div class="modal-body">
									  				Are you sure you want to Delete <strong>" {{u.unite.code_alpha}} "</strong>  ?
												</div>
												<div class="modal-footer">
									  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
									  				<a href="delete_unite_of_cadre/{{u.id}}" class="btn btn-danger">Supprimer</a>
												</div>
											</div>
										</div>
									</div>
						
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

{% endblock %}