{% extends "base.html" %}

{% block reu_active %}
<li class="menu-item-has-children dropdown active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Réunion Budget <strong> {{budget.annee}}</strong></h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites' %}">Unités</a></li>
                            <li><a href="#">{{unite.code_alpha}}</a></li>
							<li><a href="#">Chiffre D'affaire Au Transport</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row content">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<!-- Header status Chef dep  -->
							{% if user.user_type == 5 %}
								{% if ca_transport_v and ca_transport_s %}	
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span></strong>
								{% elif ca_transport_s and ca_transport_v == False  %}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Instance</span></strong>
								{% elif ca_transport_non_s %}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" ><i class="menu-icon fa fa-times"></i> Non saisie</span></strong>
								{% elif ca_transport_non_s == False and ca_transport_s == False%}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span></strong>
								{% endif %}
							<!-- End status Chef dep  -->

							<!-- Header status Cadre  -->
							{% elif user.user_type == 6 %}

								{% if ca_transport_s and ca_transport_v == False %}	
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span></strong>
								{% elif ca_transport_non_s  %}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i> Non saisie</span></strong>
								{% elif ca_transport_non_s == False and ca_transport_s == False %}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span></strong>
								{% elif ca_transport_s and ca_transport_v %}
									<strong class="card-title">Chiffre D'affaire Au Transport <span class="float-right" style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span></strong>
								{% endif %}
							
							{% else %}
								<strong class="card-title">Chiffre D'affaire Au Transport</strong>
							{% endif %}
							<!-- End Header status Cadre  -->
							
						</div>
						<div class="card-body">
							<!-- Chef département section -->
							{% if user.user_type == 5 %}
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Rubrique</th>
										<th>Réseau</th>
                                        <th>Montant</th>
										<th>M-Clôture</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for c in comptes %}
									<tr>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null" %}
														{% if m.commentaire_montant != None %}

															{% if m.vld_chef_dep %}
																<span style="color: green;">{{m.montant}}</span>
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% else %}
																<span style="color: orange;">{{m.montant}}</span>
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																	  <div class="modal-content">
																		<div class="modal-header">
																			  <h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			  </button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																				  


																		</div>
																		<div class="modal-footer">
																			
																			{% if user == m.commentaire_montant.user %}
																			<a href="update_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>																			
																			<a href="delete_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-danger"> <span><i class="menu-icon fa fa-trash-o"></i></span></a>
																			{% else %}
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																			{% endif %}
																				
																			  
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->
														{% else %}
															{% if m.vld_chef_dep %}
																<span style="color: green;">{{m.montant}}</span>	
															{% else %}
																<span style="color: orange;">{{m.montant}}</span>
															{% endif %}
														{% endif %}	

													{% else %}	
														--------																
													{% endif %}	

												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														<span>{{m.montant_cloture}}</span>
													{% else %}
														--------																	
													{% endif %}
												{% endif %}	
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														{% if m.vld_chef_dep %}
															<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
															<!-- Button trigger modal -->
															<button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#valid{{m.id}}">
																<span><i class="menu-icon fa fa-times-circle"></i></span>
															</button>
															<!-- Modal -->
															<div class="modal fade" id="valid{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																	<h3 class="modal-title" id="exampleModalLabel">Annuler la validation</h3>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																	</div>
																	<div class="modal-body">
																		Vous êtes sûre d'annuler la validation pour ce compte ? <br>
																		Compte : <span style="color: red;"> {{m.unite_compte.compte.numero}} - {{m.unite_compte.compte.rubrique}}</span><br>
																		Montant : <span style="color: red;"> {{m.montant}}</span>
																	</div>
																	<div class="modal-footer">
																	<a href="cancel_valid_montant/{{m.id}}" class="btn btn-sm btn-danger"> Oui, Confirmer</a>
																	<button type="button" class="btn btn-sm  btn-secondary" data-dismiss="modal">Fermer</button>
																	</div>
																</div>
																</div>
															</div>

														{% else %}
															<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
															<a href="valid_montant/{{m.id}}" class="btn btn-sm btn-outline-success"  data-toggle="tooltip" data-html="true" data-placement="right" title="Vaidation du Montant"><span><i class="menu-icon fa fa-check"></i></span></a>		
														{% endif %}
													{% else %}
														<a href="add_montant_ca_transport/{{c.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
													{% endif %}
												{% endif %}	
											{% endfor %}

											{% if user == c.added_by %}
											<a href="#" data-toggle="modal" data-target="#delc{{c.id}}"><span class="float-right" style="color: red; "><i class="menu-icon fa fa-trash"></i></span></a>
											<!-- Modal -->
											<div class="modal fade" id="delc{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h3 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h3>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															Vous êtes sûre de supprimer ce compte ?<br>
															Numéro : <strong> {{c.compte.numero}} </strong> <br>
															Rubrique budgétaire :<strong> {{c.compte.rubrique}} </strong> <br>
															Réseau : <strong> {{c.reseau_compte}}</strong>
															<br>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
															<a href="delete_added_compte/{{c.id}}" class="btn btn-danger">Supprimer</a>
														</div>
													</div>
												</div>
											</div>
											<!-- End Modal -->
											{% endif %}
										</td>
									</tr>
						
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
							<!-- End chef département section -->

							<!-- Cadre section -->
							{% if user.user_type == 6 %}
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Rubrique</th>
										<th>Réseau</th>
                                        <th>Montant</th>
										<th>M-Clôture</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for c in comptes %}
									<tr>		
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
																												
														{% if m.commentaire_montant != None %}													
															{% if m.vld_chef_dep == False %}
																<span>{{m.montant}}</span>	
																
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}

															{% elif m.vld_chef_dep and m.montant == m.montant_cadre  %}
																<span style="color: green;">{{m.montant}}</span>
														
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}

															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == True  %}
																<span style="color: orange;"> {{m.montant}}</i></span>

																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == False  %}
																<span style="color: red;">{{m.montant}}</span>

																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}
															{% else %}
																<span>{{m.montant}}</span>
															{% endif %}

															<!-- Modal -->
															<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog">
																	  <div class="modal-content">
																		<div class="modal-header">
																			  <h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			  </button>
																		</div>
																		<div class="modal-body">
																			
																			{% if m.commentaire_montant.importance == 'F' %}
																				<div class="alert alert-secondary" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département</strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur</strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% elif m.commentaire_montant.importance == 'M'  %}
																				<div class="alert alert-warning" role="alert">
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>	
																			{% elif m.commentaire_montant.importance == 'C' %}
																				<div class="alert alert-danger" role="alert">
																					
																					{% if m.commentaire_montant.user.user_type == 6  %}
																						<strong>Commentaire Cadre </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 5 %}
																						<strong>Commentaire Chef Département </strong> <br>
																					{% elif m.commentaire_montant.user.user_type == 4 %}
																						<strong>Commentaire Sous Directeur </strong> <br>
																					{% endif %}
																					{{m.commentaire_montant.text}}
																				</div>
																			{% endif %}
																				  


																		</div>
																		<div class="modal-footer">
																			
																			{% if user == m.commentaire_montant.user %}
																			<a href="update_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>																			
																			<a href="delete_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-danger"> <span><i class="menu-icon fa fa-trash-o"></i></span></a>
																			{% else %}
																			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																			{% endif %}
																				
																			  
																		</div>
																	</div>
																</div>
															</div>
															<!-- End Modal -->
														{% else %}
															{% if m.vld_chef_dep == False %}
																<span>{{m.montant}}</span>	
															{% elif m.vld_chef_dep and m.montant == m.montant_cadre  %}
																<span style="color: green;">{{m.montant}}														
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == True  %}
																<span style="color: orange;"> {{m.montant}}</i></span>
															{% elif m.vld_chef_dep and m.montant == m.montant_chef_dep and m.vld_cadre == False  %}
																<span style="color: red;">{{m.montant}}</span>
															{% else %}
																<span>{{m.montant}}</span>
															{% endif %}
														{% endif %}
													{% else %}
														--------																	
													{% endif %}	
												{% endif %}	
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items  %}
												{% if key == c.id %}
													{% if m != "null"  %}
														<span>{{m.montant_cloture}}</span>	
													{% else %}
														--------																
													{% endif %}	
												{% endif %}	
											{% endfor %}
										</td>
										<td>
											{% for key, m in cm_dict.items %}
												{% if key == c.id %}
													{% if m != "null" %}
														{% if m.vld_chef_dep %}
															<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
														{% else %}
															<a href="update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
														{% endif %}
													{% else %}
														<a href="add_montant_ca_transport/{{c.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
													{% endif %}	
												{% endif %}
											{% endfor %}

											{% if user == c.added_by %}
											<a href="#" data-toggle="modal" data-target="#delc{{c.id}}"><span class="float-right" style="color: red; "><i class="menu-icon fa fa-trash"></i></span></a>
											<!-- Modal -->
											<div class="modal fade" id="delc{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h3 class="modal-title" id="exampleModalLabel">Confirmer la suppression </h3>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															Vous êtes sûre de supprimer ce compte ?<br>
															Numéro : <strong> {{c.compte.numero}} </strong> <br>
															Rubrique budgétaire :<strong> {{c.compte.rubrique}} </strong> <br>
															Réseau : <strong> {{c.reseau_compte}}</strong>
															<br>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
															<a href="delete_added_compte/{{c.id}}" class="btn btn-danger">Supprimer</a>
														</div>
													</div>
												</div>
											</div>
											<!-- End Modal -->
											{% endif %}
										</td>
									</tr>
						
									{% endfor %}
								</tbody>
							</table>
							{% endif %}
							<!-- End Cadre section -->
							
						</div>
						<div class="card-footer">
							<a href="add_new_compte/{{unite.id}}" class="btn btn-info btn-sm btn-block"><span><i class="menu-icon fa fa-plus"></i></span> Ajouter autre compte<span></a>
						</div>
					</div>
				</div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

{% endblock %}