{% extends "base.html" %}

{% block actu_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}      

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Actualisations & Réajustements (<strong> {{budget.annee}}</strong>)</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites_actualis' %}">Unités</a></li>
                            <li><a href="/actualis/{{budget.id}}/unite/{{unite.id}}">{{unite.code_alpha}}</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row content">


    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span><i class="menu-icon fa fa-building-o"></i></span>  <strong class="card-title">  {{unite.lib}} <span class="float-right"></span>  <span class="badge badge-primary float-right"> Edition {{edition}} </span></strong>
            </div>
            <div class="card-body">
				<!-- status sous dir  -->
				{% if user.user_type == 4 %}
				<table id="bootstrap-data-table" class="table table-striped">
					<thead>
						<tr>
							<th>Chapitre</th>
							<th>Modification</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						
						{% if unite.traffic  %}	
						<tr>
							<td>Offre</td>	

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="offre/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>

							
						</tr>

						<tr>
							<td>Traffic</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}							
							</td>
							<td>
								<a href="traffic/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						{% if unite.emmission %}	
						<tr>
							<td>Chiffre d'affaire à l'emmission</td>
							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_emmission/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
						
						{% if unite.traffic %}
						<tr>
							<td>Chiffre d'affaire au Transport</td>
							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_transport/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
	
						{% if unite.recette %}	
						<tr>
							<td>Autre recettes</td>
							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="recettes/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						<tr>
							<td>Depensses de fonctionnement</td>
							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>
							
							<td>
								<a href="depense_fonc/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
												
						{% if unite.exploitation %}	
						<tr>
							<td>Depensses d'exploitation</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "sdir" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="depense_exp/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
			
					</tbody>
				</table>
				{% endif %}

				<!-- status Chef dep  -->
				{% if user.user_type == 5 %}
				<table id="bootstrap-data-table" class="table table-striped">
					<thead>
						<tr>
							<th>Chapitre</th>
							<th>Modification</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						
						{% if unite.traffic  %}	
						<tr>
							<td>Offre</td>	

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="offre/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>

							
						</tr>

						<tr>
							<td>Traffic</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}							
							</td>
							<td>
								<a href="traffic/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						{% if unite.emmission %}	
						<tr>
							<td>Chiffre d'affaire à l'emmission</td>
							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_emmission/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
						
						{% if unite.traffic %}
						<tr>
							<td>Chiffre d'affaire au Transport</td>
							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_transport/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
	
						{% if unite.recette %}	
						<tr>
							<td>Autre recettes</td>
							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="recettes/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						<tr>
							<td>Depensses de fonctionnement</td>
							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>
							
							<td>
								<a href="depense_fonc/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
												
						{% if unite.exploitation %}	
						<tr>
							<td>Depensses d'exploitation</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "chef" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="depense_exp/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
			
					</tbody>
				</table>
				{% endif %}

				<!-- status Cadre  -->
				{% if user.user_type == 6 %}
				<table id="bootstrap-data-table" class="table table-striped">
					<thead>
						<tr>
							<th>Chapitre</th>
							<th>Modification</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						
						{% if unite.traffic  %}	
						<tr>
							<td>Offre</td>	

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in off_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="offre/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>

							
						</tr>

						<tr>
							<td>Traffic</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in trf_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}							
							</td>
							<td>
								<a href="traffic/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						{% if unite.emmission %}	
						<tr>
							<td>Chiffre d'affaire à l'emmission</td>
							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cae_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_emmission/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
						
						{% if unite.traffic %}
						<tr>
							<td>Chiffre d'affaire au Transport</td>
							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in cat_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="ca_transport/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
	
						{% if unite.recette %}	
						<tr>
							<td>Autre recettes</td>
							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>

							<td>
								{% for key, s in rct_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="recettes/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}

						<tr>
							<td>Depensses de fonctionnement</td>
							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>

							<td>
								{% for key, s in dpf_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>
							
							<td>
								<a href="depense_fonc/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
												
						{% if unite.exploitation %}	
						<tr>
							<td>Depensses d'exploitation</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "modifs" %}
										{% if s == 0 %}
											<span class="badge badge-secondary">Aucun</span>
										{% else %}
											<span class="badge badge-success">{{s}} modif</span>
										{% endif %}
									{% endif %}
								{% endfor %}	
							</td>
							<td>
								{% for key, s in dpe_status.items  %}
									{% if key == "cadre" %}
										
										{% if s == "Terminé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
										{% elif s == "Validé" %}
											<span  style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
										{% elif s == "Instance" %}
											<span  style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
										{% elif s == "En cours" %}
											<span  style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
										{% elif s == "-" %}
											<span> - </span>
										{% endif %}
											
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="depense_exp/{{unite.id}}" class="btn btn-sm btn-info"> <span><i class="menu-icon fa fa-folder-open"></i></span> Consulté</a>
							</td>
						</tr>
						{% endif %}
			
					</tbody>
				</table>
				{% endif %}
            </div>
        </div>
    </div>



</div>

{% endblock %}