{% extends "base.html" %}

{% block cpt_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Admin</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Afféctation</a></li>
							<li><a href="#">{{u.code_alpha}}</a></li>
							<li><a href="#">Comptes</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>   

<div class="row content">
				<div class="col-md-12">
					<a href="{% url 'all_unites' %}" class="btn btn-outline-dark"><span><i class="menu-icon fa fa-long-arrow-left"></i></span> Reteur</a> <br><br>
					<div class="card">
						<div class="card-header">
							<strong class="card-title">La list des comptes affectés au <b>{{u.code_alpha}}</b></strong>
                            <a href="add_compte_to_unite/{{u.id}}" class="btn btn-sm btn-primary float-right"> <span><i class="menu-icon fa fa-plus"></i></span> Ajouter</a>
						</div>
						<div class="card-body">
							<table id="bootstrap-data-table" class="table table-striped">
								<thead>
									<tr>
										<th>Numero</th>
										<th>Rubrique</th>
										<th>Resau</th>
										<th>Chapitre</th>
                                        <th>regle_par</th>
                                        <th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for c in comptes %}
									<tr>
										<td>{{c.compte.numero}}</td>
										<td>{{c.compte.rubrique}}</td>
										<td>{{c.reseau_compte}}</td>
										<td>{{c.compte.chapitre}}</td>
                                        <td>{{c.regle_par.code_alpha}}</td>
										<td>
											<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#e{{c.id}}"><span><i class="menu-icon fa fa-trash-o"></i></span></button>
										</td>
									</tr>
									
									<!-- Modal -->
									<div class="modal fade" id="e{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="modal-title" id="exampleModalLabel">Confirme Delete</h3>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													Are you sure you want to Delete this <strong>" {{c.compte.numero}} - {{c.compte.rubrique}} "</strong>  ?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
													<a href="delete_compte_of_unite/{{c.id}}" class="btn btn-danger">Supprimer</a>
												</div>
											</div>
										</div>
									</div>

									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>



</div>

{% endblock %}