{% extends "base.html" %}

{% block ctrl_active %}
<li class="active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-6">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Contrôle Budget 
							<strong>
									{% if id_month == 1 %}
										Janvier 
									{% elif id_month == 2 %}
										Février
									{% elif id_month == 3 %}
										Mars
									{% elif id_month == 4 %}
										Avril
									{% elif id_month == 5 %}
										Mai
									{% elif id_month == 6 %}
										Juin
									{% elif id_month == 7 %}
										Juillet
									{% elif id_month == 8 %}
										Aout
									{% elif id_month == 9 %}
										Septembre
									{% elif id_month == 10 %}
										Octobre
									{% elif id_month == 11 %}
										Novembre
									{% elif id_month == 12 %}
										Décembre
									{% endif %}

							 {{budget.annee}} 
							<br> ({{unite_compte.compte.chapitre.lib}})</strong>
						</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites_controle' %}">Unités</a></li>
                            <li><a href="/controle/{{budget.id}}/unite/{{unite_compte.unite.id}}">{{unite_compte.unite.code_alpha}}</a></li>
							<li><a href="#">{{unite_compte.compte.chapitre.lib}}</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row content">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="form-row">
								<div class="form-group col-md-6 mb-0">
									<strong class="card-title">{{unite_compte.compte}}</strong>
								</div>
								<div class="form-group col-md-4 mb-0">
									<strong class="card-title">Reglé par :{{unite_compte.regle_par}}</strong>
								</div>
								<div class="form-group col-md-2 mb-0">
									<strong class="card-title"> <span class="float-right"> {{unite_compte.monnaie.code_alpha}}</span></strong>
								</div>
								<br>
							</div>
						</div>
						<div class="card-body">

                            <form method="post">
                                {% csrf_token %}

								
								<div class="alert alert-light border" role="alert">
									<strong>Année {{budget.annee}} </strong>
									<table id="bootstrap-data-table" class="table table-striped">
										<thead>
											<tr>
												<th>Prévision Annuel</th>
												<th> Cumulé à
													{% if id_month == 1 %}
														( Janvier )
													{% elif id_month == 2 %}
														( Février )
													{% elif id_month == 3 %}
														( Mars )
													{% elif id_month == 4 %}
														( Avril )
													{% elif id_month == 5 %}
														( Mai )
													{% elif id_month == 6 %}
														( Juin )
													{% elif id_month == 7 %}
														( Juillet )
													{% elif id_month == 8 %}
														( Aout )
													{% elif id_month == 9 %}
														( Septembre )
													{% elif id_month == 10 %}
														( Octobre )
													{% elif id_month == 11 %}
														( Novembre )
													{% elif id_month == 12 %}
														( Décembre )
													{% endif %}
												</th>
												<th>Prévision
													{% if id_month == 1 %}
														( Janvier )
													{% elif id_month == 2 %}
														( Février )
													{% elif id_month == 3 %}
														( Mars )
													{% elif id_month == 4 %}
														( Avril )
													{% elif id_month == 5 %}
														( Mai )
													{% elif id_month == 6 %}
														( Juin )
													{% elif id_month == 7 %}
														( Juillet )
													{% elif id_month == 8 %}
														( Aout )
													{% elif id_month == 9 %}
														( Septembre )
													{% elif id_month == 10 %}
														( Octobre )
													{% elif id_month == 11 %}
														( Novembre )
													{% elif id_month == 12 %}
														( Décembre )
													{% endif %}
												</th>

											</tr>
										</thead>
										<tbody>
											<td>
												-
											</td>
											<td>
												-
											</td>
											<td>
												-
											</td>
										</tbody>
									</table>									
								</div>
							

								<div class="alert alert-info" role="alert">
									<strong>Contrôle Budgétaire 
										
										{% if id_month == 1 %}
											( Janvier )
										{% elif id_month == 2 %}
											( Février )
										{% elif id_month == 3 %}
											( Mars )
										{% elif id_month == 4 %}
											( Avril )
										{% elif id_month == 5 %}
											( Mai )
										{% elif id_month == 6 %}
											( Juin )
										{% elif id_month == 7 %}
											( Juillet )
										{% elif id_month == 8 %}
											( Aout )
										{% elif id_month == 9 %}
											( Septembre )
										{% elif id_month == 10 %}
											( Octobre )
										{% elif id_month == 11 %}
											( Novembre )
										{% elif id_month == 12 %}
											( Décembre )
										{% endif %}
									</strong> <br>
									<div class="form-row">
										<div class="form-group col-md-12 mb-0">
											{{ form.montant|as_crispy_field }}
										</div>
										<br>
									</div>
								</div>

								<div class="alert alert-light border" role="alert">
									<strong>Commentaire</strong>
									<div class="form-row">
										<div class="form-group col-md-9 mb-0">
											{{ update_comment_form.text|as_crispy_field }}
										</div>
										<div class="form-group col-md-3 mb-0">
											{{ update_comment_form.importance|as_crispy_field }}
										</div>
									</div>
								</div>
        				
                                <button type="submit" class="btn btn-primary">Valider</button>
                                <a href="{% url 'unites_reunion' %}" class="btn btn-secondary">Annuler</a>
                            </form>
						</div>
					</div>
				</div>



</div>

{% endblock %}