{% extends "base.html" %}

{% block ctrl_active %}
<li class="menu-item-has-children dropdown active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}   

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Contrôle Budget <strong> {{budget.annee}} <br> ({{chapitre.lib}})</strong></h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="{% url 'unites_controle' %}">Unités</a></li>
                            <li><a href="/controle/{{budget.id}}/unite/{{unite.id}}">{{unite.code_alpha}}</a></li>
							<li><a href="#">{{chapitre.lib}}</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row content">
	<div class="col-md-12">
		{% if user.user_type == 6 %}
			<div class="accordion" id="accordionExample">
				{% for month in months %} 
					<div class="card" style="margin-bottom: 1px;">
						<div class="card-header" id="hua{{ month.0 }}" role="tab" data-toggle="collapse" data-target="#cua{{ month.0 }}" aria-expanded="true" aria-controls="cua{{ month.0 }}">
							<strong class="card-title"> <span><i class="menu-icon fa fa-angle-right" style="margin-right: 10px;"></i></span> {{ month.1}} 
								<span class="float-right">
									{% for key, status in ch_status.items  %}
										{% if key == month.0  %}
											{% for i, s in status.items  %}

												{% if user.user_type == 6 %}
													{% if i == "cadre" %}
														{% if s == "Terminé" %}
															<span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
														{% elif s == "Validé" %}
															<span class="float-right" style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
														{% elif s == "Instance" %}
															<span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
														{% elif s == "En cours" %}
															<span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
														{% elif s == "-" %}
															<span class="float-right">-</span>
														{% endif %}	
													{% endif %}	

												{% elif user.user_type == 5 %}

													{% if i == "chef" %}
														{% if s == "Terminé" %}
															<span class="float-right" style="color: green;"><i class="menu-icon fa fa-check-square-o"></i> Terminé</span>
														{% elif s == "Validé" %}
															<span class="float-right" style="color: green;"><i class="menu-icon fa fa-check"></i> Validé</span>
														{% elif s == "Instance" %}
															<span class="float-right" style="color: red;"><i class="menu-icon fa fa-pencil-square-o"></i>Instance</span>
														{% elif s == "En cours" %}
															<span class="float-right" style="color: orange;"><i class="menu-icon fa fa-pencil-square-o"></i> En cours</span>
														{% elif s == "-" %}
															<span class="float-right"></span>
														{% endif %}	
													{% endif %}

												{% endif %}

											{% endfor %}
										{% endif %}
									{% endfor %}
								</span>
							</strong>
						</div>
						<div class="card-body collapse" id="cua{{ month.0 }}" aria-labelledby="hua{{ month.0 }}" data-parent="#accordionExample">
							<!-- Cadre section -->
								<input class="form-control" id="myInput" type="text" placeholder="Search..">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Rubrique</th>
											<th>Réseau</th>
											<th>Montant</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="myTable">
										{% for c in comptes %}
										<tr>
											<td>{{c.compte.rubrique}}</td>
											<td>{{c.reseau_compte}}</td>
											
											<td>
												{% for key, m in cm_dict.items  %}
													{% if key == c.id %}
														{% if m != "null" %}

															{% if month.0 == 1 %}
																{% if m.janvier != null %}
																	<span> {{m.janvier}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 2 %}
																{% if m.fevrier != None %}
																	<span> {{m.fevrier}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 3 %}
																{% if m.mars != None %}
																	<span> {{m.mars}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 4 %}
																{% if m.avril != None %}
																	<span> {{m.avril}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 5 %}
																{% if m.mai != None %}
																	<span> {{m.mai}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 6 %}
																{% if m.juin != None %}
																	<span> {{m.juin}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 7 %}
																{% if m.juillet != None %}
																	<span> {{m.juillet}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 8 %}
																{% if m.aout != None %}
																	<span> {{m.aout}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 9 %}
																{% if m.septemre != None %}
																	<span> {{m.septemre}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 10 %}
																{% if m.octobre != None %}
																	<span> {{m.octobre}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 11 %}
																{% if m.novembre != None %}
																	<span> {{m.novembre}}</span>
																{% else %}
																	--------
																{% endif %}
															{% elif month.0 == 12 %}
																{% if m.decembre != None %}
																	<span> {{m.decembre}}</span>
																{% else %}
																	--------
																{% endif %}

															{% endif %}


															{% if m.commentaire_montant != None %}													
																{% if m.commentaire_montant.importance == "F" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "M" %} 
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right"  style="color: orange;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% elif m.commentaire_montant.importance == "C" %}
																	<a href="#" data-toggle="modal" data-target="#comment{{m.id}}"><span class="float-right" style="color: red;"><i class="menu-icon fa fa-comment-o"></i></span></a>
																{% endif %}

																<!-- Modal -->
																<div class="modal fade" id="comment{{m.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																	<div class="modal-dialog">
																			<div class="modal-content">
																			<div class="modal-header">
																					<h3 class="modal-title" id="exampleModalLabel">Commentaire</h3>
																					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																					</button>
																			</div>
																			<div class="modal-body">
																				
																				{% if m.commentaire_montant.importance == 'F' %}
																					<div class="alert alert-secondary" role="alert">
																						
																						{% if m.commentaire_montant.user.user_type == 6  %}
																							<strong>Commentaire Cadre </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 5 %}
																							<strong>Commentaire Chef Département </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 4 %}
																							<strong>Commentaire Sous Directeur </strong> <br>
																						{% endif %}
																						{{m.commentaire_montant.text}}
																					</div>
																				{% elif m.commentaire_montant.importance == 'M'  %}
																					<div class="alert alert-warning" role="alert">
																						{% if m.commentaire_montant.user.user_type == 6  %}
																							<strong>Commentaire Cadre </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 5 %}
																							<strong>Commentaire Chef Département </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 4 %}
																							<strong>Commentaire Sous Directeur </strong> <br>
																						{% endif %}
																						{{m.commentaire_montant.text}}
																					</div>	
																				{% elif m.commentaire_montant.importance == 'C' %}
																					<div class="alert alert-danger" role="alert">
																						
																						{% if m.commentaire_montant.user.user_type == 6  %}
																							<strong>Commentaire Cadre </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 5 %}
																							<strong>Commentaire Chef Département </strong> <br>
																						{% elif m.commentaire_montant.user.user_type == 4 %}
																							<strong>Commentaire Sous Directeur </strong> <br>
																						{% endif %}
																						{{m.commentaire_montant.text}}
																					</div>
																				{% endif %}
																						


																			</div>
																			<div class="modal-footer">
																				
																				{% if user == m.commentaire_montant.user %}
																				<a href="update_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-secondary"> <span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>																			
																				<a href="delete_comment/{{m.commentaire_montant.id}}" class="btn btn-sm btn-danger"> <span><i class="menu-icon fa fa-trash-o"></i></span></a>
																				{% else %}
																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
																				{% endif %}
																					
																					
																			</div>
																		</div>
																	</div>
																</div>
																<!-- End Modal -->
															{% endif %}

														{% else %}
															--------											
														{% endif %}	
													{% endif %}		
												{% endfor %}
											</td>
											
											<td>
												{% for key, m in cm_dict.items  %}
													{% if key == c.id %}
														{% if m != "null" %}

															{% if month.0 == 1 %}
																{% if m.janvier != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
																{% endif %}
															{% elif month.0 == 2 %}
																{% if m.fevrier != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
																{% endif %}
															{% elif month.0 == 3 %}
																{% if m.mars != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
																{% endif %}
																
															{% elif month.0 == 4 %}
																{% if m.avril != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 5 %}
																{% if m.mai != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 6 %}
																{% if m.juin != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 7 %}
																{% if m.juillet != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 8 %}
																{% if m.aout != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 9 %}
																{% if m.septemre != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 10 %}
																{% if m.octobre != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 11 %}
																{% if m.novembre != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}
															{% elif month.0 == 12 %}
																{% if m.decembre != None  %}
																	{% if m.vld_chef_dep or m.vld_sous_dir %}
																		<span style="color: green;"><i class="menu-icon fa fa-check-circle"></i> Validé</span>
																	{% else %}
																		<a href="{{month.0}}/update_montant/{{m.id}}" class="btn btn-sm btn-outline-secondary"><span><i class="menu-icon fa fa-pencil"></i></span> Modifier</a>
																	{% endif %}
																{% else %}
																	<a href="{{month.0}}/add_montant_month/{{m.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir M</a>
																{% endif %}

															{% endif %}

														{% else %}
															<a href="{{month.0}}/add_montant/{{c.id}}" class="btn btn-sm btn-outline-primary"><span><i class="menu-icon fa fa-plus"></i></span> Remplir</a>
														{% endif %}	

													{% endif %}	
												{% endfor %}		
											
											</td>
											
										</tr>
							
										{% endfor %}
									</tbody>
								</table>
							<!-- End Cadre section -->							
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}	
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>

{% endblock %}