{% extends "base.html" %}

{% block prop_active %}
<li class="menu-item-has-children dropdown active">
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}  

<div class="breadcrumbs">
	<div class="breadcrumbs-inner">
		<div class="row m-0">
			<div class="col-sm-8">
				<div class="page-header float-left">
					<div class="page-title">
					    <h1>Consultation des budgets de proposition</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>  

<div class="row content">
    <div class="col-md-12">
        <div class="card">
            {% for b in budgets %}
            <div class="accordion" id="accordionExample">
                <div class="container border" id="hu{{b.annee}}" data-toggle="collapse" data-target="#cu{{b.annee}}" aria-expanded="true" aria-controls="cu{{b.annee}}">
                    <h5 style="padding: 10px;"> <span style="margin-right: 10px; color: rgb(11, 176, 226);"><i class="menu-icon fa fa-chevron-circle-right"></i></span> {{b.annee}} <span class="float-right">12000 $</span></h5>
                </div>
                <div id="cu{{b.annee}}" class="collapse container " aria-labelledby="hu{{b.annee}}" data-parent="#accordionExample">
                    somthing here like unites
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}